img {
    animation-name: animate;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
}
@keyframes animate{
    0%{
      -webkit-clip-path: circle(0% at 50% 50%);
clip-path: circle(0% at 50% 50%);
    }
    100%{
        -webkit-clip-path: circle(100% at 50% 50%);
clip-path: circle(100% at 50% 50%);
    }
}
body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 500px;
    text-align: center;
    color: lightseagreen;
    font-size: 20px;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: lightseagreen;
    opacity: 0;
    transform: scale(0.5);
    animation: fadeInScale 2s ease-out forwards;
}
@keyframes fadeInScale {
   0% {
       opacity: 0;
       transform: scale(0.5);
    }
    100% {
        opacity: 2;
        transform: scale(2);
    }
}
.cover-photo {
    background-image:url(sneakers.pbg);
    background-attachment: fixed;
    width: 90%;
    height: auto;
    object-fit: cover;
    max-height: 400px;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-link {
    text-align: center;
    margin-bottom: 60px; 
    margin: 50px;
    position: fixed;
}
body{
    background: white;
    text-align: center;
}
h1 {
    font-family: "Papyrus", fantasy;
}
h2 {
    font-family: "Copperplate", fantasy;
}
h3 {
    font-family: "Courier New", monospace;
}
ol {
    margin: 20px auto;
    padding: 0;
    max-width: 400px;
    list-style-position: inside;
}
ol li {
    margin-bottom: 20px;
    font-size: 20px;
}
.center-link {
    text-align: center;
    margin-top: 20px;
    display: block;  
}
.home-link {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    z-index: 9999;
}
.home-link:hover {
    background-color: lightseagreen;
}